<div class="  text-slate-500 text-sm grid">
  <div class="mx-auto flex p-4">
    <span class="text-center text-xs">developed by </span>
    <%= link_to 'https://github.com/lucasgeron',target:'_blank', class:"flex items-center" do %>
      <%= image_tag('https://lucasgeron.github.io/assets/images/favicon.ico', class:"h-4") %>
      <span class='text-slate-300 hover:text-white text-xs'>lucasgeron </span>
    <% end %>
  </div>
</div>